<table class="event-details">
	<tr>
		<td><i class="fa fa-calendar-o"></i>{{event.date}}</td>
		<td><i class="fa fa-clock-o"></i>{{event.time}}</td>
		<td><i class="fa fa-map-marker"></i>{{event.location}}</td>
		<td><i class="fa fa-usd"></i>{{event.cost}}</td>
	</tr>
</table>