{% if repo %}
<section class="ministry-repository section">
	<div class="container">
		<h2>{{post.title}} Items</h2>
		<table>
			{% for item in repo %}
			<tr>
				<td>
					{{item.name}}
				</td>
				<td>
					<a target="_blank" href="{{item.file}}">download</a>
				</td>
			</tr>
			 {% endfor %}
		</table>
	</div>
</section>
{% endif %}