{% extends "base.twig" %}

{% block content %}
<section class="container section give-section">
	<h1 class="page-title">Give</h1>
	<h4>Blah blah blah, blood of the Lamb, blah blah blah, doing life together. Blah blah blah, blood of the Lamb, blah blah blah, doing life together. Blah blah blah, blood of the Lamb, blah blah blah, doing life together. Blah blah blah, blood of the Lamb, blah blah blah, doing life together. </h4>
	<a href="http://google.com" class="button">Give Online <i class="fa fa-chevron-right button-icon"></i> </a>
</section>

{% endblock %}