{% extends "base.twig" %}

{% block content %}
	<div class="container fourohfour">
	<h1>404</h1>
	<h3>We’re sorry, it looks like you have found a prodigal page.</h3>
	<div class="row">
		<div class="col-md-8">
		<p>
			We are hoping that one day this page will come back into our open arms, but for now, please head back to your <a href="{{site.url}}">campus homepage</a>.
		</p>
		</div>
	</div>
	<h2><span class="eyes">:</span><span class="mouth">(</span></h2>
	</div>
{% endblock %}