{% extends "base.twig" %}

{% block content %}
<section class="container event-archive-header">
	<h1 class="page-title">Events</h1>
	<h4 class="">Events at Bayside are a great way for you to meet new people, and we have a lot of them. Take a look and see what we are up to. We can’t wait to see you!</h4>
</section>
<section class="event-archive">
	<div class="container">
		{% include 'components/events.twig' %}
	</div>
</section>

{% endblock %}