			</div>
			<footer class="footer" role="contentinfo">
				<div class="container">
					<div id="inner-footer" class="wrap clearfix">
	
						{{site.name}}
	
					</div>
				</div>
			</footer>
		</div>
		{{ function('wp_footer') }}
	</body>
</html> <?php // end page. what a ride! ?>
